<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

    <div class="sidebar">
        <h1>Sidebar</h1>
        <ul>
            <li><a href="/api/posts/postDetails">Post Details</a></li>
            <li><a href="/api/posts/allPosts">All Posts</a></li>
            <li><a href="/api/users/allUsers">All Users</a></li>
            <li><a href="/api/posts/addComment">Add Comment</a></li>
        </ul>
    </div>
</body>
</html>