<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Get Post Categories</title>
</head>
<body>
    <h1>Categories for Post</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li><%= category.category %></li>
        <% }); %>
    </ul>
</body>
</html>
