<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
    <form action="/api/users/loginUser" method="post"> 
        <label for="identifier">Email Or Username</label>
        <input type="text" name="identifier" id="identifier">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"> 
        <button type="submit">Submit</button>
    </form></div>
</body>
</html>
