<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="user-log">
        <form action="post">
<label for="username" id="username">UserName</label>
<input type="text" name="username" id="username">
<label for="password" id="password">Password</label>
<input type="text" name="password" id="password">
<label for="email" id="email">Email</label>
<input type="email" name="email" id="email">

        </form>
    </div>
</div>

</body>
</html>