<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <div>
        <p><strong>User ID:</strong> <%= user.id %></p>
        <p><strong>Name:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
    </div>
    <a href="/">Back to Home</a>
</body>
</html>
